/*log {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}*/

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    background-color: whitesmoke;
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #0250c4;
    margin-top: 15px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #094bac;
}

.form-message {
    margin: 20px auto 20px auto;
    border-radius: 10px;
    max-width: 560px;
    width: 25rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
        font-size: 1.6rem;
    }
}

.form-message-red {
    background-color: #ffb3b3;
    border: 2px solid #ff0000;
}

.form-message-green {
    background-color: lightgreen;
    border: 2px solid green;
}